/* Lato's import into the css stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* putting the Lato font */
body {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    color: #4E598C;
    margin: 0;
    padding: 0;
}

/* table's styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
}


th {
    background-color: #4E598C;
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}


td {
    background-color: #F9C784;
    color: #4E598C;
    padding: 12px;
    text-align: left;
}


button {
    background-color: #4E598C;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #3b4873;
}

button:active {
    background-color: #2f3d59;
}


button[style="color:red;"] {
    background-color: #F9C784;
    color: #D11A2A;
}

button[style="color:red;"]:hover {
    background-color: #F4A261;
}


form {
    display: inline-block;
    margin-right: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }

    button {
        font-size: 12px;
        padding: 8px 12px;
    }
}

/* Responsive for smaller screen*/
@media (max-width: 480px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 8px;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}
